---

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
  },
  VUE: {
    name: "Vue.js",
    class: "bg-[#42b883] text-white",
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#0c4b33] text-white",
  },
  UNITY: {
    name: "Unity",
    class: "bg-[#7f7f7f] text-white",
  },
  PUSHER: {
    name: "Pusher",
    class: "bg-[#8731d2] text-white",
  },
  C: {
    name: "C",
    class: "bg-[#a7b8cb] text-white",
  },
  OPENGL: {
    name: "OpenGL",
    class: "bg-[#5586a6] text-white",
  },
  CMASMAS: {
    name: "C++",
    class: "bg-[#004283] text-white",
  },
  JAVA: {
    name: "Java",
    class: "bg-[#f8981d] text-white",
  },
  SWING: {
    name: "Swing",
    class: "bg-[#49c93e] text-white",
  },
}
const PROJECTS = [
  {
    title: "Cultucat - Red social sobre eventos culturales",
    description:
      "Trabajo compartido de la universidad. El proyecto trata sobre un listador de eventos culturales en Cataluña. Mi posición en el trabajo fue de back-end, mis funcionalidades tuvieron que ver con: chat entre usuarios en tiempo real usando Pusher, sistema de trofeos + puntos + ránking, creación automática de PDF resumen con la compra de entradas.",
    link: "https://youtu.be/6a2a4atWzik",
    github: "https://github.com/orgs/CultuCat/repositories",
    image: "/images/cultucatLogo.png",
    tags: [TAGS.DJANGO, TAGS.VUE, TAGS.PUSHER],
  },
  {
    title: "OrbitalBullet  - 3D minigame",
    description:
      "Trabajo compartido de la universidad. Juego hecho en OpenGL, compuesto por 2 niveles. La intención era hacer un juego lo más parecido al juego original. Mi posición en el trabajo fue toda la lógica del juego, IAs, interacciones, scroll de pantalla, sprites.",
    link: "https://youtu.be/mKq0KYsVsbM",
    github: "https://github.com/JoanTeruelJurado/OrbitalFight",
    image: "/images/orbitalFight.webp",
    tags: [TAGS.UNITY, TAGS.C],
  }, 
  {
    title: "Copy SuperMarioBros NES",
    description:
      "Trabajo compartido de la universidad. Juego hecho en Unity, shooter 3D inspirado en OrbitalFight. Mi posición en el trabajo fue toda la lógica del juego, IAs, interacciones, todo lo relativo a la programación del gameplay, no a los assets y animaciones.",
    link: "https://youtu.be/hLhyzy_RS2w",
    github: "https://github.com/marcrq/VJ-2D",
    image: "/images/marioBros.png",
    tags: [TAGS.OPENGL, TAGS.CMASMAS],
  },
  {
    title: "Documentator  - App de gestión y creación de documentos",
    description:
      "Trabajo compartido de la universidad. Aplicación de edición y almacenaje de documentoshecha en Java y Swing. Mi posición en el trabajo fue de front-end, diseñando y creando la gran mayoría de las vistas y la forma de conectarlas.",
    link: "https://adventjs.dev",
    github: "https://github.com/christianrm02/Editor-de-documentos",
    image: "/images/Documentaitor2.png",
    tags: [TAGS.JAVA, TAGS.SWING],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="rounded-lg border border-yellow-400 border-opacity-10 bg-yellow-400 bg-opacity-10 hover:scale-105 transition duration-300"> 
      <h3 class="m-2 text-2xl font-bold text-gray-800 dark:text-gray-100 w-full">{title}</h3>
      <div class="ml-2 mr-2 mb-2 flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2 items-center mt-3">
          <div class="relative flex mt-3 flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl lg:border lg:border-gray-800">
            <a href={link} target="_blank">
              <img alt="Project logo" class="object-cover object-top w-full sm:h-full transition-transform transform hover:scale-105" loading="lazy" src={image} />
            </a>
          </div>
        </div>

        <div class="w-full">
          <div class="flex flex-col mt-3">
            <div class=" text-gray-700 dark:text-gray-400">{description}</div>
            <ul class="flex flex-row mt-2 gap-x-2">
                {tags.map((tag) => (
                  <li>
                    <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>{tag.name}</span>
                  </li>
                ))}
            </ul>
            <a href={github} target="_blank" class="ml-auto mt-3 icon-work max-w-max text-white opacity-90 hover:opacity-100 font-medium text-xs flex items-center transition lg:text-xl 2xl:text-2xl">
              <p>OPEN PROJECT</p>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"><path d="M20.692 12.287a.755.755 0 0 1-.162.243l-4 4a.75.75 0 0 1-1.06-1.06l2.719-2.72H4a.75.75 0 0 1 0-1.5h14.189L15.47 8.53a.75.75 0 1 1 1.06-1.06l4 4a.751.751 0 0 1 .162.817Z"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </article>
    ))
  }
</div>


