---

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
  },
}
const PROJECTS = [
  {
    title: "SVGL - A beautiful library with SVG logos",
    description:
      "Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/images/EncontradoQR.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    image: "/images/estrella-mario-bros-png.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"> 
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
     
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-top w-full h-56 transition duration-200 sm:h-full md:scale-110 md:hover:scale-105" loading="lazy" src={image} />
      
      <a class="w-full  min-h-[260px] flex items-center justify-center hover:scale-105 transition duration-200 xl:min-h-[320px] 2xl:min-h-[460px]" href="https://shoppyfree.vercel.app/" target="_blank">
        <img class="w-full h-auto drop-shadow-2xl lg:aspect-video" src={image} alt="ShoppyFree" style="opacity: 1; transform: translateX(0%) translateZ(0px);">
      </a>

    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <a href="https://shoppyfree.vercel.app/" target="_blank" class="icon-work max-w-max text-[#a3a3a3] hover:text-white font-medium text-xs flex items-center justify-start gap-3 transition lg:text-xl lg:gap-4 2xl:text-2xl">
							<p>OPEN PROJECT</p>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 2xl:w-8 2xl:h-8">
								<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
							</svg>
						</a>
    </div>
  </div>
</article>
    ))
  }
</div>


